<?php
/** @var \Vitd\ContentWidget\Block\Widget\Content $this */
?>

<?php if($this->isAccessAllowed()): ?>

    <!-- Vitd_ContentWidget -->

    <?php if ('div' === $this->getVitdContainer()) { ?>

        <div class="<?= $this->getContainerClass() ?>">
            <?= $this->getContent(); ?>
        </div>

    <?php } elseif ('iframe' === $this->getVitdContainer()) { ?>

        <iframe class="<?= $this->getContainerClass() ?>" src="<?= $this->prepareLinkForIframe() ?>" <?= $this->getIframeAttributes(); ?>></iframe>

    <?php } else { ?>

        <?= $this->getContent(); ?>

    <?php } ?>

    <!-- /Vitd_ContentWidget -->

<?php endif; ?>